body {
    font-family: 'Roboto', sans-serif;
    color: $text_color;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

section {
    padding: $padding_big 0;
}

a {
    text-decoration: none;
}

p {
    font-size: $text_size_medium;
}

span {
    font-size: $text_size_small;
    font-weight: $thin_text;
}

ul {
    list-style: none;
}

.bgc-orange {
    background-color: $primary_color;
}

.btn {
    background-color: $secondary_color;
    color: white;
    font-size: $text_size_small;
    line-height: $text_size_medium;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    display: flex;
    align-items: center;

    i {
        font-size: $text_size_medium;
    }

    span {
        padding-left: 5px;
    }

    &:hover {
        cursor: pointer;
        background-color: $hover_btn_color;
    }

}
