main {
    .first {
        .jumbotron {
            width: 50%;
            padding-right: $padding_medium;
            float: left;

            h1 {
                font-size: $text_size_h1;
            }

            p {
                padding: 40px 0;
            }

            .buttons {
                padding-bottom: 20px;
                display: flex;
                align-items: center;

                .divisore {
                    padding: 0 20px;
                }
            }

        }

        .banner-img {
            width: 50%;
            float: left;
            object-fit: contain;

            img {
                width: 100%;
            }
        }
    }

    .second {

        .container {
            text-align: center;

            .card-section {

                .card-row {
                    display: flex;
                    justify-content: center;

                    .card {
                        width: 30%;
                        padding: $padding_big 20px;

                        .img-container {
                            height: 105px;
                            object-fit: cover;

                            img {
                                height: 100%;
                            }
                        }

                        p {
                            padding-top: 20px;
                            font-size: $text_size_paragraph_small;
                        }
                    }
                }

                .img-big {
                    width: 300px;
                }

                &:first-child {
                    padding-bottom: $padding_big;
                    border-bottom: $border_thin_gray;
                }
                &:nth-child(2) {
                    padding-top: $padding_big;
                }
            }
        }
    }

    .third {
        .learn-more-section {
            padding-bottom: $padding_big;

            .img-only {
                width: 50%;
                float: left;

                img {
                    width: 100%;
                    padding-right: 20px;
                    float: right;
                }
            }

            .text-and-img {
                width: 30%;
                float: left;

                p {
                    padding: 20px 0;
                }

                .img-bottom {
                    text-align: center;
                    padding-top: 20px;

                    img{
                        max-width: 270px;
                    }
                }
            }

            &:nth-child(even) {
                .img-only {
                    float: right;

                    img {
                        float: left;
                    }
                }

                .text-and-img {
                    float: right;
                }
            }

        }
        .last {
            padding-bottom: 0;
        }

    }

    .fourth {
        
    }
}
