main {
    .banner {
        .jumbotron {
            width: 50%;
            padding-right: $padding_medium;
            float: left;

            h1 {
                font-size: $text_size_h1;
            }

            p {
                font-size: $text_size_medium;
                padding: 40px 0;
            }

            .buttons {
                padding-bottom: 20px;
                display: flex;
                align-items: center;

                .divisore {
                    padding: 0 20px;
                }
            }

            span {
                font-size: $text_size_small;
                font-weight: $thin_text;
            }

        }

        .banner-img {
            width: 50%;
            float: left;
            object-fit: contain;

            img {
                width: 100%;
            }
        }
    }

    .bgc-orange {
        background-color: $primary_color;

        .container {
            text-align: center;

            .card-section {

                .card-row {
                    display: flex;
                    justify-content: center;

                    .card {
                        width: 30%;
                        padding: $padding_big 20px;

                        .img-container {
                            height: 105px;
                            object-fit: cover;

                            img {
                                height: 100%;
                            }
                        }

                        p {
                            padding-top: 20px;
                            font-size: $text_size_paragraph_small;
                        }
                    }
                }

                .img-big {
                    width: 300px;
                }

                &:first-child {
                    padding-bottom: $padding_big;
                    border-bottom: $border_thin_gray;
                }
                &:nth-child(2) {
                    padding-top: $padding_big;
                }
            }
        }
    }
}
