$primary_color: #ffe7d2;
$secondary_color: #30488f;
$hover_btn_color: #233569;
$text_color: #4e3d1e;
$border_thin_gray: 1px solid #bdb5af;

// text sizes
$text_size_h1: 50px;
$text_size_big: 30px;
$text_size_medium: 22px;
$text_size_paragraph_small: 18px;
$text_size_small: 14px;
$text_size_smaller: 12px;

// text weight
$bold_text: 700;
$thin_text: 300;

// padding dimension
$padding_big: 100px;
$padding_medium: 50px;
