$primary_color: #ffe7d2;
$secondary_color: #30488f;
$text_color: #4e3d1e;
$lines_color: #bdb5af;
$text_size_h1: 40px;
$text_size_big: 30px;
$text_size_medium: 20px;
$text_size_small: 14px;
$text_size_smaller: 12px;
$bold_text: 700;
$thin_text: 300;
